<h1>{{report.storm_type}} ({{report.severity_level}})</h1>
<button class="pretty-button green-btn">{{report.upvoters.length}} upvoters</button>
<button class="pretty-button red-btn">{{report.downvoters.length}} downvoters</button>
<p>{{report.content}}</p>
