<div id="{{report.report_id}}">
  <h1>{{report.storm_type}} ({{report.severity_level}})</h1>
  <button class="pretty-button btn_upvote">{{report.upvoters.length}} upvoters</button>
  <button class="pretty-button btn_downvote">{{report.downvoters.length}} downvoters</button>
  <p>{{report.content}}</p>
</div>
